---
import Layout from '../layouts/Layout.astro';
import { WIZARDS } from '../wizards';

export async function getStaticPaths() {
  const pages = WIZARDS.map(wizard => ({
    slug: wizard.name,
    title: wizard.name,
    wizard: wizard,
  }));

  return pages.map(({ slug, title, wizard }) => {
    return {
      params: { slug },
      props: { title, wizard },
    };
  });
}

const { title, wizard } = Astro.props;
---

<Layout title={`${title} - Gemstone Wizards`}>
  <main
    style={{
      '--x': '-50%',
      '--y': '-50%',
      '--s': 1.2,
      '--c1': wizard.color1,
      '--c2': wizard.color2,
      '--c3': wizard.color3,
    }}
  >
    <div class='backdrop' style={{ '--img': `url(${wizard.art})` }} />
    <a href="/">Back</a>
    <div
      class='container'
      style={{
        '--name': wizard.name,
      }}
      transition:name={`wizard-${wizard.name}`}
    >
      <section class='img-container'>
        <img
          src={wizard.art}
          alt={wizard.alt}
          class='hero'
          width='928'
          height='1312'
        />
        <div class='meta'>
          <h1>{title}</h1>
          <div class='underline'></div>
          <p set:html={wizard.bio} />
        </div>
      </section>
      <!-- {
        wizard.pendant && (
          <img
            src={wizard.pendant}
            class='pendant'
            alt='Pendant'
            width='200'
            height='200'
          />
        )
      } -->
    </div>
  </main>
</Layout>

<style lang='scss'>
  .container {
    position: relative;
    padding: 12px;
    box-shadow: 0 0 180px 5px var(--black), 0 0 50px 5px var(--black);
    // -webkit-mask-image: url(/grit.png);
    // -webkit-mask-size: auto;

    &::before {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      background: linear-gradient(to bottom, var(--c2), var(--c1));
      opacity: 0.5;
    }
  }
  .img-container {
    container-type: inline-size;
    position: relative;
    width: 90vw;
    max-width: 41rem;
    height: auto;
    aspect-ratio: 1 / 1.4;
    overflow: hidden;
    box-shadow: 0 0 0 11px var(--black);

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border: 1px solid var(--white);
      mix-blend-mode: overlay;
      pointer-events: none;
    }
  }
  img {
    position: absolute;
    height: auto;
    pointer-events: none;
  }
  .hero {
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    translate: var(--x) var(--y);
    scale: var(--s);
  }
  .pendant {
    top: 0%;
    right: 0%;
    width: 300px;
    translate: 45% -17%;
    filter: drop-shadow(0px 15px 13px black);
  }
  .meta {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-block: 13rem 3rem;
    background: linear-gradient(to bottom, transparent, var(--black));
  }
  h1 {
    text-align: center;
    color: var(--c3);
    font-size: 2.5rem;
    font-size: 7cqw;
    margin: 0;
    text-shadow: 0 4px 8px var(--black);
  }
  .underline {
    width: 350px;
    height: 1px;
    background: var(--c1);
    -webkit-mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 40%,
      black 60%,
      transparent 100%
    );
  }
  p {
    width: 90%;
    max-width: 50ch;
    color: var(--white);
    margin: 0;
    text-shadow: 0 3px 5px var(--black);
  }
  .backdrop {
    position: absolute;
    inset: 0;
    // background: var(--img) no-repeat center;
    // background-size: 250%;
    // filter: blur(50px);
    opacity: 0.2;
    background: radial-gradient(circle at center 0%, var(--c3), var(--black));
  }

  .glow {
    position: absolute;
    top: -40%;
    left: 0;
    right: 0;
    height: 1130px;
    background: radial-gradient(var(--c2), transparent 50%);
    mix-blend-mode: color-dodge;
    opacity: 0.25;
  }

  a {
    color: white;
    text-decoration: none;
    padding-block-end: 1rem;
    z-index: 1;
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 3px;

    &:hover {
      text-decoration: underline;
      opacity: 0.75;
    }
  }

  :global(::view-transition-new(wizard-Erevan)) {
    z-index: 2;
  }
  :global(::view-transition-new(wizard-Roderick)) {
    z-index: 2;
  }
  :global(::view-transition-new(wizard-Astrid)) {
    z-index: 2;
  }
  :global(::view-transition-new(wizard-Soren)) {
    z-index: 2;
  }
  :global(::view-transition-new(wizard-Arion)) {
    z-index: 2;
  }
  :global(::view-transition-new(wizard-Paridian)) {
    z-index: 2;
  }
  :global(::view-transition-new(wizard-Osgar)) {
    z-index: 2;
  }
</style>
